    
    .main {
      max-width: 90%;
      margin:auto;
      margin-top:2em;
    }
    
    table {
        border: 1px solid white;
    }


    .modalBtn {
        width: 100%;
        margin-bottom:0.2em;
        background-color: pink !important
    }

    .modalBtn:hover {
        background-color: rgba(238, 153, 153, 0.911) !important
    }

    td {
        padding: 0%;
        width: 10%;
    }

    .borderless {
        border:none !important;
        padding:0.2em !important;
    }

    .modal-header {
        background-color: pink !important
    }
 

